#logo-2{
    position: absolute;
    left: calc(50% - 264px/2 - -33.5px);
    top: calc(50% - 50px/2 - 250px);
    height: 160px;
}

#otp-text-1{
    position: absolute;
    left: 12.53%;
    right: 13.33%;
    top: 35.59%;
    bottom: 61.58%;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #333333;
}

#otp-text-2{
    position: absolute;
    left: 14.13%;
    right: 16.53%;
    top: 43.47%;
    bottom: 54.19%;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #666666;
}

#change-number{
    position: absolute;
    left: calc(50% - 264px/2 - -62.5px);
    top: calc(50% - 50px/2 - 2px);
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #F7B348;
    height: 18px;
    outline: none;
    background-color: #eaeaea;
    border: none;
    text-decoration: underline;
}

#otp-number{
    position: absolute;
    left: calc(50% - 264px/2 - -24.5px);
    top: calc(50% - 50px/2 + 126px);
    display: flex;
    width: 200px;
    justify-content: space-between;

}

#otp-number input{
    width: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    height: 30px;
    color: #333333;
}

#otp-text-3{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
}
#otp-text-4{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F7B348;
}

#otp-content-34{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: calc(50% - 264px/2 - -24.5px);
    top: calc(50% - 50px/2 + 228px);
    width:210px;
}
.alert-danger-2{
    color: red;
    position: absolute;
    width: 153px;
    height: 14px;
    left: calc(50% - 134px/2 - 39.5px);
    top: calc(50% - 14px/2 + 74px);
}
